<div class="content-wrapper">
    <h3 class="title">{{content.title}}</h3>
    <div class="row">
        <div class="col-sm-6">
            <ng-template let-image ngFor [ngForOf]="content.images">
                <img src="{{image}}" class="img rounded customImg"/>
            </ng-template>
        </div>
        <div class="col-sm-6">
            <ng-template let-text ngFor [ngForOf]="content.paras">
                <p class="para text-justify">{{text}}</p>
            </ng-template>
        </div>
    </div>
</div>