@import "./../../variables.scss";
.customImg{
    width: 100%;
    padding: 20px;
    padding-left: 0px;
}
.content-wrapper{
    padding: 20px;
}
.title{
    color: $yellow-color;
    font-family: $font-family;
    font-size: $font-size-medium;
    margin-bottom: 20px;
    margin-top: 20px;
}
.para{
    margin-top: 20px;
    color: $white-color;
    font-family: $font-family;
    font-size: $font-size-medium;
    text-align: justify;

}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:801px)  { 
    .text-center{
        width: 50%;
        float: left;
        margin-right: 10px;
    }
    .para{
        margin-top: 0px;
    }
    .customImg{
        width: 100%;
       // height: 400px;
    }
    .title{
        margin-top: 0px;
    }

}