<div>
  <app-header (tabSelection)="navigateToTab($event)"></app-header>
</div>
<div class="content" id="parent" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
  <div id="home" class="content-wrapper">
    <app-home></app-home>
  </div>
  <div id="earlyLife" class="each-section">
    <div class="left"></div>
    <div class="centerSection">
      <app-early-life></app-early-life>
    </div>
    <div class="right"></div>
  </div>
  <div id="bhs" class="each-section">
    <div class="left"></div>
    <div class="centerSection">

      <app-bhs></app-bhs>
    </div>
    <div class="left"></div>
  </div>
  <div id="scpcr" class="each-section">
    <div class="left"></div>
    <div class="centerSection">
      <app-scpcr></app-scpcr>
    </div>
    <div class="left"></div>
  </div>
  <div id="citizenAds" class="each-section">
    <div class="left"></div>
    <div class="centerSection">

      <app-citizen-ads></app-citizen-ads>
    </div>
    <div class="left"></div>
  </div>
  <div id="family" class="each-section">
    <div class="left"></div>
    <div class="centerSection">
      <app-family-friends></app-family-friends>
    </div>
    <div class="left"></div>
  </div>
</div>
<router-outlet></router-outlet>