@import "./../variables.scss";
.side-nav{
    width: 15%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $background-color;
    overflow-x: hidden;
}
.content{
    // margin-left: 15%;
    overflow-y: scroll;
    height: 100%;
}
.content-wrapper{
   // height: 100%;
}
.each-section{
    // min-height: 80vh;
    border-radius: 6px;
    border-bottom: 2px solid black;
    height: auto;
    clear: both;
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

    .left, .right {
        float: left;
        width: 15%;
        padding: 20px;
    }
    .centerSection{
        width: 70%;
        float: left;
    }
}