<div>
  <app-header (tabSelection)="navigateToTab($event)"></app-header>
</div>
<div id="parent" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)">
  <div id="home" class="content-wrapper">
    <app-home></app-home>
  </div>
  <div id="earlyLife" class="each-section">
    <div class="left"></div>
    <div class="centerSection">
      <app-early-life></app-early-life>
    </div>
    <div class="right"></div>
  </div>
  <div id="bhs" class="each-section">
    <div class="left"></div>
    <div class="centerSection">

      <app-bhs></app-bhs>
    </div>
    <div class="left"></div>
  </div>
  <div id="citizenAds" class="each-section">
    <div class="left"></div>
    <div class="centerSection">

      <app-citizen-ads></app-citizen-ads>
    </div>
    <div class="left"></div>
  </div>
  <div id="family" class="each-section">
    <div class="left"></div>
    <div class="centerSection">
      <app-family-friends></app-family-friends>
    </div>
    <div class="left"></div>
  </div>
</div>
<!-- <footer class="footer">
<p>This site is developed by Friends and Family <a href="https://www.github.com/achyutarao-in/">View Source at Github</a></p>
</footer> -->

<router-outlet></router-outlet>