@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$white-color: #fff;
$yellow-color: #FEDC22;
$grey-color: #3B3B3B;
$font-family: 'opensans-regular', sans-serif;
$background-color: #0D0D0D;
$font-size-large: 20px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-family-bold: 'opensans-bold', sans-serif;