
@import "./../../variables.scss";
.home-content-wrap{
    // margin-left: 15%;
    display: block;
    background: url("/assets/images/home.png") no-repeat center center fixed;
    height:100%;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    background-size: cover;
}
.title{
    font-size: 45px;
    color: $yellow-color;
    border-bottom: 0.5px solid $yellow-color;
    font-family: $font-family;

}
.text-wrapper{
    position: absolute;
    top: 60%;
    text-align: right;
    left: 10%;
}
.subTitle{
    color: $white-color;
    line-height: 2;
    font-family: $font-family-bold;
}


/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:801px)  { 
    .text-wrapper{
        left: 25%;
    }

}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* tablet -- For portrait layouts only */
    .home-content-wrap{
        background-attachment: fixed;
    }
    
}
