@font-face {
    font-family: opensans-bold;
    src: url(./OpenSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: opensans-regular;
    src: url(./OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: opensans-light;
    src: url(./OpenSans-Light.ttf) format("truetype");
}